.page-title {
    text-align: center;
    margin-bottom: 20px;
    color: #fff;
    font-weight: bold;
}

.success-message {
    text-align: center;
    margin: 10px 0;
    padding: 10px;
    font-weight: bold;
    color: #155724;
    background-color: #d4edda;
    border: 1px solid #c3e6cb;
    border-radius: 5px;
}

.gradient-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 200vw; 
    height: 200vh; 
    transform: translate(-50%, -50%); 
    background: linear-gradient(
        120deg, 
        #dbefff, 
        #3c9aff, 
        #5c96f3, 
        #3c9aff, 
        #dbefff  
    );
    background-size: 300% 300%; 
    animation: gradientShift 35s ease-in-out infinite; 
    z-index: -1;
}

@keyframes gradientShift {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%; 
    }
    100% {
        background-position: 0% 50%; 
    }
}

.verify-transactions-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #ffffff;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
    gap: 50px; 
    margin-top: 20px;
    z-index: 2;
    padding: 20px;
    max-width: 1300px; 
    width: 100%;
    margin-left: auto;
    margin-right: auto; 
}


.transactions-column {
    flex: 1;
    max-width: 45%; /* Limit each column width to 45% */
    padding: 0 40px; /* Add padding to create more spacing */
}


table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    overflow-wrap: break-word; 
}

th {
    background-color: #3c9aff;
    color: #fff;
}

.verify-button, .unverify-button {
    padding: 5px 10px;
    font-size: 14px;
    color: #ffffff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.verify-button {
    background-color: #28a745;
}

.verify-button:hover {
    background-color: #218838;
}

.unverify-button {
    background-color: #dc3545;
}

.unverify-button:hover {
    background-color: #c82333;
}
